* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	overflow-y: scroll;
}

html, body {
	height: 100%;
}

header, footer, section {
	padding: (60/14) + rem (20/14) + rem;
}

header.full-page {
	height: 100%;
	width: 100%;
	display: table;

	.inner {
		display: table-cell;
		vertical-align: middle;
		text-align: center;

		button, .button {
			margin-top: (20/14) + rem;
		}
	}
}

table {
	width: 100%;
}

footer {
	text-align: center;
	background: rgba($black, .8);
	color: white;
	height: 100%;
	width: 100%;

	button, .button, button:visited, button:active, .button:active, .button:visited {
		color: white;
		background-color: rgba($red, .6);
		border: 0;
	}
}

section .inner, footer .inner, header .inner {
	max-width: (560/14) + rem;
	margin: 0 auto;
}

article {
	padding-bottom: (30/14) + rem;
}



.site-nav {
	position: absolute;
	width: 100%;
	padding: (20/14) + rem 0;
	border-top: 2px solid $red;
}

.footer-nav {
	margin: (20/14) + rem 0;
}

#projects {
	padding: (40/14) + rem (20/14) + rem;

	h2, a {
		margin-bottom: (10/14) + rem;
		margin-top: (10/14) + rem;
	}

	td:first-of-type h2 {
		text-align: right;
	}

	td:not(:last-child) {
		padding: 0 (10/14) + rem 0 0;
	}

	background-color: $blue;
	color: white;
}

#resume {
	.position {
		padding-bottom: (30/14) + rem;
	}

	h3 {
		font-size: (18/14) + rem;
		line-height: (30/14) + rem;
		margin: 0;
	}

	h3 a {
		font-weight: bold;
		font-style: normal;
	}

	p {
		margin: 0;
	}

	p:first-of-type {
		color: $gray;
		text-align: center;
	}
}

#blog {
	article {
		h1, p {
			margin-bottom: 0;
		}
	}
}