@import 'variables';

.big-screen {
	display: none;
}

@media only screen and (min-width: 600px) {

	.big-screen {
		display: inherit;
	}

	html {
		font-size: 100%;
		font-size: (16/16) + rem;
		line-height: (16/16) + rem;
	}

	#resume {
		p:first-of-type {
			text-align: left;
		}

		h3 {
			font-size: (14/14) + rem;
			line-height: (30/14) + rem;
			text-align: left;
		}
	}

	a:after, a:visited:after, a:active:after, nav li:after {
		bottom: (-1/14) + rem;
	}

	h2 a:after, h2 a:visited:after, h2 a:active:after, h3 a:after, h3 a:visited:after, h3 a:active:after {
		bottom: 0;
	}
}

@media only screen and (min-width: 960px) {
	html {
		font-size: 100%;
		font-size: (18/16) + rem;
		line-height: (18/16) + rem;
	}

	h1 {
		font-size: (47/16) + rem;
		line-height: (59/16) + rem;
	}

	h2 {
		font-size: (29/16) + rem;
		line-height: (40/16) + rem;
	}

	h3 {
		font-size: (22/16) + rem;
		line-height: (30/16) + rem;
	}

	.button, button {
		.icon {
			top: (-1/28) + rem;
		}
	}
}