@import 'variables';

@media only screen and (min-width: 600px) {
	html {
		font-size: 100%;
		font-size: (16/16) + rem;
		line-height: (16/16) + rem;
	}
}

@media only screen and (min-width: 960px) {
	html {
		font-size: 100%;
		font-size: (18/16) + rem;
		line-height: (18/16) + rem;
	}
}