@import 'variables';

html {
	font-size: 100%;
	font-family: $sanserif-fonts;
	font-size: (14/16) + rem;
	line-height: (25/16) + rem;
	color: $black;
	background-color: $gray-white;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-weight: 400;
}

::selection {
	background: $green;
}

h1, h2, h3 {
	font-family: $serif-fonts;
	font-style: italic;
	font-weight: 400;
	text-align: center;
}

h1 {
	font-size: (36/14) + rem;
	line-height: (50/14) + rem;
	margin: (20/14) + rem 0;
}

h2, h3, article h1 {
	font-size: (22/14) + rem;
	line-height: (30/14) + rem;
	margin-bottom: (20/14) + rem;
}

p {
	line-height: (25/14) + rem;
	margin-bottom: (20/14) + rem;
}

b, strong {
	font-weight: 600;
}

em, i {
	font-style: italic;
	font-weight: 400;
}

a, a:visited, a:active, nav li, a:not(button), a:not(.button) {
	color: inherit;
	text-decoration: none;
	-webkit-transition-property: all;
	-moz-transition-property: all;
	-o-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-backface-visibility: hidden;
	position: relative;
}

a:after, a:visited:after, a:active:after, nav li:after{
	border-bottom: 1px solid;
	width: 100%;
	content:'';
    position:absolute;
    left:0;
    right:0;
    bottom: 0;
}

h2 a:after, h2 a:visited:after, h2 a:active:after, h3 a:after, h3 a:visited:after, h3 a:active:after  {
	bottom: (1/14) + rem;
}

a:hover, a:visited:hover {
	opacity: .5;
}

nav {
	a {
		padding: 0 (10/14) + rem;
	}

	a:first-of-type {
		padding-left: 0;
	}

	a:last-of-type {
		padding-right: 0;
	}

	a:after, a:visited:after, a:active:after {
		border: none;
	}
}

a.current li:after, h1 a:after, h1 a:visited:after, h1 a:active:after, h1 a:hover, button:hover:after, .button:hover:after {
	border: none;
}

a.current, a.current li {
	pointer-events: none;
	cursor: default;
	border: 0;
}

a.current:after {
	border-bottom: none;
}

.caption, header h2, fieldset h1, fieldset h2, nav a{
	font-family: $serif-fonts;
	font-weight: 700;
	font-size: (12/14) + rem;
	font-style: normal;
	line-height: (20/14) + rem;
	letter-spacing: (.8/14) + rem;
	text-transform: uppercase;
}

section fieldset {
	border: 0;
	border-top: 1px solid;
	text-align: center;
	margin-bottom: (10/14) + rem;

	legend {
		padding: 0 (10/14) + rem;
	}
}

button, .button, a:visited.button, a:active.button {
	display: inline-block;
	position: relative;
	outline: 0;
	margin-bottom: (10/14) + rem;
	margin-right: (10/14) + rem;
	min-width: (40/14) + rem;
	font-weight: 600;
	color: $red;
	font-size: (12/14) + rem;
	letter-spacing: (1/14) + rem;
	text-transform: uppercase;
	line-height: (40/14) + rem;
	height: (40/14) + rem;
	background-color: none;
	padding: 0 (10/14) + rem;
	border: 1px solid $red;
	cursor: pointer;
	-webkit-border-radius: (50/14) + rem;
	-moz-border-radius: (50/14) + rem;
	border-radius: (50/14) + rem;
}

button:after, button:visited:after, .button:active:after, .button:after, .button:visited:after, .button:active:after {
	border-bottom: none;
}


button:hover, .button:hover, button:visited:hover, .button:visited:hover {
	opacity: 1;
	background-color: $red;
	color: white;
}

button:last-of-type, .button:last-of-type, a:visited.button:last-of-type, a:active.button:last-of-type {
	margin-right: 0;
}

nav, .nav {
	text-align: center;
	ul, li {
		display: inline-block;
		padding: 0;
	}
}

.button, button {
	.icon {
		font-size: (16/14) + rem;
		line-height: (40/14) + rem;
		position: absolute;
		left: (12/14) + rem;
	}

	.icon-down {
		left: (11/14) + rem;
	}

	.icon-email {
		left: (11/14) + rem;
	}
}

.contact-info {
	text-align: center;
	padding-bottom: (20/14) + rem;

	.detail {
		display: none;
	}

	.button:hover {
		.icon {
			display: none;
		}

		.detail {
			display: inherit;
		}
	}
}