// Colors
$red: #FF4A40;
$blue: #15BDED;
$green: #00FFAC;
$white: #ffffff;
$gray-white: #FDFDFD;
$gray: #656565;
$black: #111111;

// Fonts
$serif-fonts: "adelle", georgia, serif;
$sanserif-fonts: "freight-sans-pro", helvetica, arial, sans-serif;
$code-fonts: Menlo, Monaco, Consolas, "Courier New", monospace;