/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 18, _reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 28, _reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, _reset.scss */
body {
  line-height: 1;
}

/* line 34, _reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, _reset.scss */
blockquote, q {
  quotes: none;
}

/* line 41, _reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, _reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 3, _typography.scss */
html {
  font-size: 100%;
  font-family: "adelle-sans", helvetica, arial, sans-serif;
  font-size: 0.875rem;
  line-height: 1.5625rem;
  color: #111111;
  background-color: #fdfdfd;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* line 14, _typography.scss */
::selection {
  background: #00ffac;
}

/* line 18, _typography.scss */
h1, h2, h3 {
  font-family: "adelle", georgia, serif;
  font-style: italic;
  font-weight: 400;
}

/* line 24, _typography.scss */
h1 {
  font-size: 2.57143rem;
  line-height: 3.57143rem;
  margin-bottom: 1.42857rem;
}

/* line 30, _typography.scss */
h2, h3, article h1 {
  font-size: 1.57143rem;
  line-height: 2.14286rem;
  margin-bottom: 1.42857rem;
}

/* line 36, _typography.scss */
p {
  line-height: 1.78571rem;
  margin-bottom: 1.42857rem;
}

/* line 41, _typography.scss */
a, a:visited, a:active {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-backface-visibility: hidden;
}

/* line 56, _typography.scss */
a:hover, a:visited:hover {
  opacity: .5;
}

/* line 60, _typography.scss */
a.current {
  pointer-events: none;
  cursor: default;
  border: 0;
}

/* line 68, _typography.scss */
header, footer, nav {
  text-align: center;
}

/* line 72, _typography.scss */
.caption, header h2, fieldset h1, fieldset h2, nav a {
  font-family: "adelle", georgia, serif;
  font-weight: 700;
  font-size: 0.85714rem;
  font-style: normal;
  line-height: 1.42857rem;
  letter-spacing: 0.05714rem;
  text-transform: uppercase;
}

/* line 82, _typography.scss */
section fieldset {
  border: 0;
  border-top: 1px solid;
  text-align: center;
  margin-bottom: 0.71429rem;
}
/* line 88, _typography.scss */
section fieldset legend {
  padding: 0 0.71429rem;
}

/* line 93, _typography.scss */
button, .button, a:visited.button, a:active.button {
  display: inline-block;
  outline: 0;
  margin-bottom: 0.71429rem;
  margin-right: 0.71429rem;
  font-weight: 700;
  color: #ff4a40;
  font-size: 0.85714rem;
  letter-spacing: 0.17857rem;
  text-transform: uppercase;
  line-height: 2.71429rem;
  height: 2.85714rem;
  background-color: none;
  padding: 0 1.07143rem;
  border: 1px solid #ff4a40;
  cursor: pointer;
  -webkit-border-radius: 3.57143rem;
  -moz-border-radius: 3.57143rem;
  border-radius: 3.57143rem;
}

/* line 114, _typography.scss */
button:hover, .button:hover, button:visited:hover, .button:visited:hover {
  opacity: 1;
  background-color: #ff4a40;
  color: white;
}

/* line 120, _typography.scss */
button:last-of-type, .button:last-of-type, a:visited.button:last-of-type, a:active.button:last-of-type {
  margin-right: 0;
}

/* line 125, _typography.scss */
nav ul, nav li, .nav ul, .nav li {
  display: inline-block;
  padding: 0;
}

/* line 1, _layout.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, _layout.scss */
html, body {
  height: 100%;
}

/* line 11, _layout.scss */
body {
  border-top: 2px solid #ff4a40;
}

/* line 15, _layout.scss */
header.full-page, section, footer {
  padding: 4.28571rem 1.42857rem;
}

/* line 21, _layout.scss */
header .contact-info {
  margin-bottom: 2.85714rem;
}

/* line 25, _layout.scss */
table {
  width: 100%;
}

/* line 29, _layout.scss */
footer {
  background: rgba(17, 17, 17, 0.8);
  color: white;
}
/* line 33, _layout.scss */
footer button, footer .button, footer button:visited, footer button:active, footer .button:active, footer .button:visited {
  color: white;
  background-color: rgba(255, 74, 64, 0.6);
  border: 0;
}

/* line 40, _layout.scss */
.full-page {
  height: 100%;
  width: 100%;
  display: table;
}
/* line 45, _layout.scss */
.full-page .inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
/* line 50, _layout.scss */
.full-page .inner button, .full-page .inner .button {
  margin-top: 1.42857rem;
}

/* line 56, _layout.scss */
.site-nav {
  position: absolute;
  width: 100%;
  margin: 1.42857rem 0;
}

/* line 62, _layout.scss */
.footer-nav {
  margin: 1.42857rem 0;
}

/* line 66, _layout.scss */
#projects {
  padding: 2.85714rem 1.42857rem;
  background-color: #15bded;
  color: white;
}
/* line 69, _layout.scss */
#projects h2, #projects a {
  margin-bottom: 0.71429rem;
  margin-top: 0.71429rem;
}
/* line 74, _layout.scss */
#projects td:first-of-type h2 {
  text-align: right;
}
/* line 78, _layout.scss */
#projects td:not(:last-child) {
  padding: 0 0.71429rem 0 0;
}

/* line 87, _layout.scss */
#resume .position {
  padding-bottom: 1.42857rem;
}
/* line 91, _layout.scss */
#resume h3 {
  font-size: 1.28571rem;
  line-height: 2.14286rem;
  text-align: left;
  margin: 0;
}
/* line 98, _layout.scss */
#resume h3 a {
  font-weight: bold;
  font-style: normal;
}
/* line 103, _layout.scss */
#resume p {
  margin: 0;
}
/* line 107, _layout.scss */
#resume p:first-of-type {
  color: #656565;
}

/* line 113, _layout.scss */
#blog article h1 {
  margin: 0;
}
